@media screen and (max-width: 1400px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    .wrapper {
      margin-left: 0;

      .main_page {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 80px;
        flex-wrap: wrap;
        height: fit-content;
      }
      .main_list {
        height: 100%;
      }

      .basket_container {
        top: 65px;
        right: 5.9%;
      }
      .order_basket_container {
        top: 50px;
        right: 5.9%;
        padding: 50px 20px;
        border-radius: 20px 20px 20px 20px;
      }
      .menu__list {
        padding-top: 30px;
      }
    }
    .form_input {
      max-width: 300px;
      padding: 10px 50px 10px 10px;
    }
    .form_wrap {
      margin-left: 40px;
      margin-right: 40px;
    }
    .form_header {
      max-width: 300px;
    }
    .main_title-form {
      font-size: 36px;
      line-height: 55px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .container {
    .wrapper {
      padding-top: 117px;
      .main_page {
        padding: 40px;
        margin: 24px;
      }
      .features {
        margin-right: 0;
        margin-left: 0;
        flex-wrap: wrap;
      }

      .articles_content {
        display: flex;
        flex-direction: column;
      }
      .articles_img_fifth {
        width: 280px;
      }

      .user_wrapper {
        &_img {
          margin-right: 8px;
          background-color: rgb(182, 182, 208);
        }
      }
      .order_basket_container {
        top: 120px;
        right: 6%;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
    .basket_container {
      top: 50px;
      right: 7%;
      margin-top: 50px;
      margin-right: 10px;
    }

    .order_basket_container {
      top: 100px;
      right: 6%;

      margin-right: 10px;
    }
  }
}
@media screen and (max-width: 1090px) {
  .container {
    max-width: 100%;

    .wrapper {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    .top_nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .header_left {
      display: flex;
      align-items: center;
      .drooling-face {
        max-width: 100%;
      }
    }

    .wrapper {
      .main_page {
        display: flex;
        padding: 24px;

        .main_content {
          display: flex;
          flex-direction: column;
        }
        .main_bottom {
          display: flex;
          flex-direction: column;
        }
        .articles_content {
          margin: 0 auto;

          .articles_img_fifth {
            top: -50%;
            left: 30%;
            width: 200px;
          }
          .articles_header {
            width: 250px;
            max-width: 100%;
            margin: 150px auto 20px;
          }

          .articles_top {
            justify-content: space-around;
          }

          .articles_wrap {
            max-width: 260px;
            width: 100%;
          }
        }
      }
    }
    .menu__list {
      box-sizing: border-box;
      padding-top: 30px;
    }
    .form_wrap {
      display: flex;
      flex-wrap: wrap;
    }

    .menu_all {
      width: 100%;
    }
  }

  .header {
    &_title {
      font-size: 32px;
      line-height: 42px;
      width: 215px;
    }
  }
}
@media screen and (max-width: 550px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
    .wrapper {
      .header_left {
        text-align: start;
        align-items: last baseline;
      }
      .drooling-face {
        align-items: center;
      }
      .header_title {
        width: 165px;
        font-size: 24px;
        line-height: 32px;
      }
      .top_nav {
        align-items: flex-start;
      }
      .basket_container {
        top: 70px;
        left: 2%;
      }
      .articles_img_fifth {
        max-width: 70%;
        top: -50%;
        left: 17%;
      }
      .order_basket_container {
        top: 100px;
        left: 6%;

        .order_basket_content {
          padding: 50px 20px 0 10px;
        }
      }
      .order_basket_body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .menu__list {
        box-sizing: content-box;
        top: 10%;
        padding-top: 30px;
      }
      .menu_all {
        width: 100%;
      }
      .main-right {
        flex-direction: column;
      }
      .articles_content {
        display: flex;
        flex-direction: column;
        padding: 0;

        .articles_top {
          align-items: center;
          justify-content: space-between !important;
          width: 100%;

          .img_cont {
            margin: 0;
          }
        }
      }
      .articles_main {
        margin: 0 auto;
        width: 100%;
      }
      .articles_wrap {
        align-items: center;
      }
    }
  }

  .form_input {
    max-width: 200px;
  }
  .form_wrap {
    margin-left: 40px;
    margin-right: 40px;
  }
  .form_content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .container {
    .wrapper {
      padding-top: 100px;
      .user_wrapper {
        align-items: center;
        padding: 10px 1px;
      }
      .user_name {
        text-align: start;
        max-width: 95px;
      }
      .header_left {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .basket_container {
        top: 80px;
        left: 2%;
      }
      .drooling-face {
        display: none;
      }
      .header_title {
        max-width: 100%;
      }
      .menu__list {
        box-sizing: content-box;
        padding-top: 30px;
        top: 11%;
      }
      .menu_all {
        width: 100%;
      }
    }
    .form_input {
      max-width: 200px;
    }
    .form_wrap {
      margin-left: 20px;
      margin-right: 20px;
    }
    .form_content {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@media screen and (max-width: 360px) {
  .container {
    .wrapper {
      max-width: 100%;
      .header {
        margin: 10px 10px;
      }
      .drooling-face {
        display: none;
      }
      .header_title {
        max-width: 100%;
      }
      .menu__list {
        box-sizing: content-box;
        padding-top: 30px;
        top: 13%;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .container {
    .wrapper {
      max-width: 100%;
      .header {
        margin: 10px 10px;
      }
      .header_title {
        max-width: 100%;
        margin: auto;
      }
      .drooling-face {
        display: none;
      }
      .menu__list {
        box-sizing: content-box;
        padding-top: 20px;
        top: 12%;
      }
      .articles_content {
        max-width: 220px;
      }
      .articles_wrap {
        width: 200px;
      }
    }
    .order_basket_container {
      top: 50px;
      left: 2%;

      .order_basket_content {
        padding: 50px 0 0 10px;
        margin: 0 auto;
        max-width: 100%;
      }
      .order_basket_body {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 280px) {
  .container {
    .menu__list {
      box-sizing: content-box;
      padding-top: 20px;
      top: 9%;
    }
  }
}
