@media screen and (max-width: 1400px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    .wrapper {
      margin-left: 0;
      .features {
        margin-right: 0;
        margin-left: 0;
        flex-wrap: wrap;
      }

      .main_page {
        border-bottom-left-radius: 0;
        margin-right: 80px;
        flex-wrap: wrap;
        height: fit-content;
      }
      .main_list {
        height: 100%;
      }

      .basket_container {
        top: 50px;
        right: 5.9%;
      }
      .order_basket_container {
        top: 50px;
        right: 5.9%;
        padding: 50px 30px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .container {
    .features {
      margin-right: 0;
      margin-left: 0;
      flex-wrap: wrap;
    }

    .articles_content {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
@media screen and (max-width: 1200px) {
  .container {
  }
}
@media screen and (max-width: 1090px) {
  .container {
    max-width: 100%;

    .wrapper {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    .top_nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      display: none;
    }
    .header_left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: start;
      .drooling-face {
        max-width: 100%;
        width: 64px;
        height: 66px;
        align-self: start;
      }
      display: none;
    }
    .main_page {
      display: flex;
      flex-direction: column;
      .main_bottom {
        display: flex;
        flex-direction: column;
      }
      .articles_content {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        margin: 0 auto;
        align-items: flex-start;
        padding-right: 20px;
        display: none;

        .articles_img_fifth {
          max-width: 80%;
          top: -50%;
          left: 40%;
          width: 20px;
        }
        .articles_header {
          width: 100%;
          max-width: 100%;
          margin: 150px auto 20px;
          display: none;
        }
      }
    }

    .form_wrap {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
@media screen and (max-width: 550px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
    .header_left {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .drooling-face {
      max-width: 100%;
      width: 64px;
      height: 66px;
    }
    .top_nav {
      align-items: flex-start;
    }
    .basket_container {
      top: 50px;
      left: 2%;
    }
    .articles_img_fifth {
      max-width: 70%;
      top: -50%;
      left: 17%;
    }
    .order_basket_container {
      top: 50px;
      left: 2%;

      .order_basket_content {
        padding: 50px 20px 0 10px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .container {
    .header_left {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .drooling-face {
      max-width: 100%;
      width: 64px;
      height: 66px;
    }
    .header_title {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 360px) {
  .container {
    .header {
      margin: auto;
    }
    .header_title {
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 320px) {
  .container {
    .header {
      margin: auto;
    }
    .header_title {
      max-width: 100%;
      margin: auto;
    }
  }
}
