.articles {
  background-color: white;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  padding-top: 50px;
  .top_nav {
    padding-bottom: 100px;
  }

  &_header {
    position: relative;
    display: inline-block;
    margin-top: 150px;
    background: #ab97f3;
    margin-right: 55px;
    border: 1px solid #dad3d3;
    top: -60px;
    width: 259px;
    height: 158px;
    border: 1.5px solid #f2eeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px;
  }
  &_img_frst {
    position: absolute;
    top: -50px;
    left: 10%;
  }
  &_img_sec {
    top: 60px;
    left: 85%;
    position: absolute;
  }
  &_img_thrd {
    top: -60px;
    left: 54%;
    position: absolute;
  }
  &_img_fth {
    top: 20px;
    left: 45%;
    position: absolute;
  }
  &_img_fifth {
    top: -150px;
    left: 15%;
    position: absolute;
  }
  &_discount {
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    display: inline-block;
  }
  &_text {
    margin-left: 20px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  &_top {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  &_title {
    font-weight: 800;
    font-size: 24px;
    line-height: 27px;
  }

  .img_cont {
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-top: 20px;
  }

  &_arr {
    background-color: #f5f6f7;
    border-radius: 5px;
    padding: 20px;
  }
  &_wrap {
    display: flex;
    align-items: start;
    width: 300px;
  }
  &_text-p {
    color: black;
    font-weight: 700;
    width: 195px;
    margin-bottom: 0;
  }

  &_image {
    margin-left: 10px;
  }
  &_right {
    margin-left: 10px;
  }

  &_icon_chicken {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    background: #fff0a5;
    margin-top: 18px;
  }
  &_icon_face {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    background: #d6f5ff;
    margin-top: 18px;
  }
  &_icon_cookies {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    background: #fedcee;
    margin-top: 18px;
  }
  &_icon_pizza {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    background: #c1fff4;
    margin-top: 18px;
  }
  &_feedback {
    display: flex;
  }
  &_like_wrap {
    display: flex;
    background: #fedcee;
    border-radius: 15px;
    width: 55px;
    height: 23px;
  }
  &_numb {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 0;
  }
}
