.form_container {
  max-width: 1110px;
  margin: 0 auto;
  background-color: #deebfb;
  padding-top: 101px;
  padding-bottom: 110px;

  .form_header {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .main_title {
    position: relative;
    width: 320px;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
  }
  .drooling-face {
    position: absolute;
    left: 56%;
    top: 280px;
  }
  .form_content {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 35px;
    padding-top: 76px;
    padding-bottom: 57px;
    align-items: center;
    text-align: center;
  }
  .form_label {
    display: block;
    margin-bottom: 37px;
  }

  .form_input {
    width: 388px;
    height: 50px;
    border-radius: 35px;
    border: none;
    background: #f3f3f3;
    padding-left: 14px;
    margin-top: 5px;
  }

  .form_wrap {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: 100px;
  }

  .form_name {
    display: inline-block;
    line-height: 18px;
    font-weight: 700;
  }
  .button {
    display: block;
    width: 163px;
    height: 50px;
    background: #2d9cdb;
    color: white;
    border-radius: 15px;
    margin-left: 110px;
  }
}
