.basket_container {
  background-color: white;
  position: fixed;
  right: 2%;
  top: 50px;
  height: 80%;
  width: 350px;
  height: 700px;
  border-radius: 20px 20px 20px 20px;
  z-index: 1200;
  padding-bottom: 40px;
  position: absolute;
  box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.3);

  .basket_button {
    display: block;
    border-radius: 15px;
    border: none;
    width: 190px;
    height: 50px;
    background: #2d9cdb;
    margin: 0 auto;
    color: white;
    cursor: pointer;
  }
  .basket_content {
    padding: 20px 20px;
    height: calc(100% - 70px);
    overflow-y: auto;
  }
  .basket_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .basket_arrow {
    background-color: #f5f6f7;
    border-radius: 15px;
    padding: 20px;
    cursor: pointer;
  }
  .basket_item {
    display: flex;
  }
  .basket_image {
    display: block;
    width: 36px;
    height: 36px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  .basket_text {
    width: 180px;
  }
  .basket_price {
    margin-top: 15px;
    margin-left: 20px;
  }
}
