body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}
body {
  background: #deebfb;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}
@import "./AllItems.scss";
@import "./Articles.scss";
@import "./Auth.scss";
@import "./Basket.scss";
@import "./Header.scss";
@import "./Home.scss";
@import "./Loader.scss";
@import "./MainOptions.scss";
@import "./MainPage.scss";
@import "./MenuProducts.scss";
@import "./MenuScss.scss";
@import "./OrderMoreBasket.scss";
@import "./TopSearch.scss";
@import "./Adaptive.scss";
