.loader_wrapper {
  margin: 0 auto;
  background-color: #deebfb;
  padding-top: 101px;
  padding-bottom: 110px;
  position: relative;

  .loader_content {
    max-width: 1400px;
    margin: 0 auto;
    border-radius: 35px;
    padding-top: 76px;
    padding-bottom: 57px;
    align-items: center;
    text-align: center;
  }
  .loader_title {
    position: relative;
    max-width: 385px;
    margin: 0 auto;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 20px;
  }
  .loader_text {
    max-width: 401px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 65px;
  }
  .loader_image1 {
    position: absolute;
    width: 72px;
    top: 100px;
    left: 540px;
  }
  .loader_image2 {
    position: absolute;
    width: 200px;
    top: 42%;
    left: 26%;
  }
  .loader_image3 {
    position: absolute;
    width: 38px;
    right: 30%;
    bottom: 50%;
  }
  .loader_image4 {
    position: absolute;
    width: 14px;
    top: 90px;
    left: 55%;
  }
  .loader_image5 {
    position: absolute;
    width: 200px;
    top: 70px;
    left: 55%;
  }
  .loader_image6 {
    position: absolute;
    width: 42px;
    top: 140px;
    left: 54%;
  }
}
// a {
//   pointer-events: none;
//   opacity: 0;

//   pointer-events: visible;
//   opacity: 1;
// }
