.loader_wrapper {
  background-color: #deebfb;
  padding-top: 290px;
  max-width: 1440px;
  position: relative;
  z-index: 1500;
  opacity: 0.33;
  margin: 0 auto;
  padding-bottom: 257px;

  .loader_content {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .loader_title {
    max-width: 385px;
    margin: 0 auto;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 20px;
  }
  .loader_text {
    max-width: 401px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 65px;
  }
  .loader_images {
    display: flex;
    padding-left: 100px;
  }

  .loader_image1 {
    width: 72px;
    top: 100px;
    left: 540px;
  }
  .loader_image2 {
    width: 200px;
    margin-right: 200px;
  }
}
.loader_image3 {
  width: 38px;
}
.loader_image4 {
  width: 14px;
}
.loader_image5 {
  width: 100px;
}
.loader_image6 {
  width: 52px;
  position: absolute;
  right: 40%;
  bottom: 30%;
}
a {
  pointer-events: none;
  opacity: 0;

  pointer-events: visible;
  opacity: 1;
}
