.main_page {
  max-width: 100%;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 30px;
  padding-left: 10px;

  .main_content {
    display: flex;
    .main_list {
      height: fit-content;
      margin-bottom: 10px;
    }
  }
}
