.main_page {
    max-width: 800px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: #fff;
    padding: 50px;

    .main_title {
      position: relative;
      width: 320px;
      font-weight: 800;
      font-size: 48px;
      line-height: 65px;
    }

    .main-drooling-face {
      position: absolute;
      left: 35%;
      top: 210px;
    }
  }