// .features {
// display: flex;
// flex-direction: column;
// align-items: start;
// padding-bottom: 50px;
// padding-top: 70px;
// background-color: #deebfb;
// max-width: 100%;

.user_wrapper {
  align-items: center;
  padding: 20px 0 20px 30px;

  margin-bottom: 50px;

  &_img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: #fff;

    padding-top: 7px;
    padding-left: 8px;
  }
  &_img-img {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 15px;
  }
}

.menu_all {
  display: flex;
}
.menu {
  margin: 60px 35px 0;

  &__list {
    text-decoration: none;
    padding: 0;
    margin-inline: auto;
  }

  &-link {
    background: transparent;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 184px;
    height: 44px;
    margin-bottom: 40px;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      color: #909090;
      margin-left: 20px;
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
      background: #fff;
      border-radius: 15px;
    }

    &-active {
      background: #ff5454;

      span {
        color: #fff;
      }

      .menu-link-icon {
        background: #df4545;
        stroke: #fff;
      }
    }
  }
}
// }
// .check {
//   width: 50px;
//   height: 5px;
//   background-color: black;
// }
// .check:not(:last-of-type) {
//   margin-bottom: 5px;
// }

// .checkbox,
// .check-content {
//   display: none;
// }
// .guy {
//   display: inline-block;

//   &_know_more {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }
// }

// @media screen and (max-width: 1250px) {
//   .container {
//     max-width: 800px;
//   }
//   .checkbox,
//   .check-content {
//     display: block;
//   }

//   .menu_all {
//     display: none;
//   }
//   .menu_adaptive {
//     position: relative;
//     margin: 0 auto;
//     display: flex;
//   }

//   .check {
//     transition: 300ms;
//   }
//   .checkbox {
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     margin: 0;
//     top: 0;
//     right: 0;
//     opacity: 0;
//     z-index: 2005;
//   }
//   .checkbox:checked ~ .check-content > .check:first-of-type {
//     transform: rotate(45deg) translate(17px, 8px);
//   }
//   .checkbox:checked ~ .check-content > .check:nth-of-type(2) {
//     opacity: 0;
//   }
//   .checkbox:checked ~ .check-content > .check:nth-of-type(3) {
//     transform: rotate(-45deg) translate(4px, 2px);
//   }
//   .checkbox:checked ~ .check-content > .check:last-of-type {
//     opacity: 0;
//   }
//   .checkbox:checked ~ .menu_all {
//     display: block;
//     position: fixed;
//     background-color: #bcccdf;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     padding-top: 40px;
//     z-index: 1000;
//   }

//   .check-content {
//     z-index: 2002;
//     position: relative;
//   }
// }
// // }
