.user_wrapper {
  align-items: center;
  padding: 20px 0 20px 5px;

  margin-bottom: 50px;

  &_img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background-color: #fff;

    padding-top: 7px;
    padding-left: 8px;
  }
  &_img-img {
    width: 64px;
    height: 64px;
    display: block;
    border-radius: 15px;
  }
}
.menu_all {
  display: flex;
}

.burger {
  display: none;
}
.menu {
  margin: 60px 35px 0;

  &__list {
    text-decoration: none;
    padding: 0;
    margin-inline: auto;
  }

  &-link {
    background: transparent;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 184px;
    height: 44px;
    margin-bottom: 40px;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      color: #909090;
      margin-left: 20px;
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
      background: #fff;
      border-radius: 15px;
    }

    &-active {
      background: #ff5454;

      span {
        color: #fff;
      }

      .menu-link-icon {
        background: #df4545;
        stroke: #fff;
      }
    }
  }
}

.guy {
  display: inline-block;

  &_know_more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 800px;
  }

  .user_wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    &_img {
      margin-right: 8px;
    }
  }

  .burger-btn {
    width: 30px;
    height: 4px;
    margin-left: 29px;
    margin-top: 15px;
    position: relative;
    background-color: rgb(11, 11, 11);
    border: none;
    cursor: pointer;

    &:before {
      content: "";
      width: 30px;
      height: 4px;
      left: 0;
      margin-top: 16px;
      position: absolute;
      background-color: rgb(11, 11, 11);
      cursor: pointer;
    }

    span {
      width: 30px;
      height: 4px;
      left: 0;
      margin-top: 7px;
      position: absolute;
      background-color: rgb(11, 11, 11);
      cursor: pointer;
    }

    &:after {
      content: "";
      width: 30px;
      height: 4px;
      left: 0;
      margin-top: 24px;
      position: absolute;
      background-color: rgb(11, 11, 11);
      cursor: pointer;
    }
  }
  .menu {
    display: flex;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    $m: &;

    &.active {
      #{$m}__list {
        right: 0;
      }
    }

    .guy {
      display: none;
    }

    &_all {
      width: 100vw;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 8000;
      background-color: #deebfb;
      padding: 10px 24px;
      box-sizing: border-box;
    }

    &__list {
      align-items: center;
      gap: 8px;
      margin: 0;
      position: fixed;
      bottom: 0;
      right: -204px;
      height: calc(100vh - 92px);
      background-color: #deebfb;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 16px;
      transition: all 0.3s ease;
    }

    &-link {
      margin: 0;
    }
  }
  .menu_adaptive {
    position: relative;
    margin: 0 auto;
    display: flex;
  }
}
