.order_basket_container {
  background-color: white;
  position: fixed;
  right: 19%;
  top: 50px;
  height: 80%;
  width: 350px;
  height: 700px;
  border-radius: 20px 20px 20px 20px;
  z-index: 1200;
  padding-bottom: 40px;
  position: absolute;
  cursor: pointer;

  .order_basket_content {
    padding: 100px 60px;
    height: 700px;
  }
  .order_basket_body {
    display: inline-block;
    align-items: center;
    text-align: center;
  }
  .order_basket_text {
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .order_basket_button {
    display: block;
    border-radius: 15px;
    border: none;
    width: 260px;
    height: 50px;
    background: #2d9cdb;
    margin-left: 20px;

    margin-left: 10%;
    color: white;
  }
}
