.top_nav {
    display: flex;
  }
  .top_search {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    background: #f3f3f3;
    margin-top: 18px;
    margin-right: 30px;
    padding: 18px;
  }
  .top_basket {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    background: #666666;
    padding: 18px;
    margin-top: 18px;
  }