.top_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.top_search {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  background: #f3f3f3;
  padding: 18px;
}
.top_basket {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  background: #666666;
  padding: 18px;
  position: relative;
}
.basket_wrap {
  position: relative;
  z-index: 1000;
}
.basket_sign {
  position: absolute;
  top: 10px;
  left: 40px;
}
