.container {
    max-width: 1100px;
    margin: 0 auto;
    

    .wrapper {
        display: flex;
        flex-direction: row;
        background-color: #deebfb;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        padding: 50px;

        .features {
            margin-left: 40px;
            padding-bottom: 50px;
            padding-top: 70px;
            margin-right: 30px;

            .user_wrapper {
                align-items: center;
                display: flex;
                padding: 20px 0 20px 30px;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 50px;

                &_img {
                    display: block;
                    width: 70px;
                    height: 70px;
                    border-radius: 15px;
                    background-color: #fff;
                    padding-top: 7px;
                    padding-left: 8px;
                }
            }
            .menu {
                width: 185px;
                $white: #e22e2e;
                &__item {
                    display: flex;
                    align-items: center;
                    border-radius: 15px;

                    margin-bottom: 45px;

                    &--active {
                        background: rgb(103, 44, 44);
                        width: 150px;
                        .menu {
                            &__icon {
                                background: rgb(140, 48, 48);

                                &:before {
                                    background: white;
                                }
                            }
                            &__title {
                                color: rgb(0, 129, 129);
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &__icon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 46px;
                    height: 44px;

                    border-radius: 15px;
                    background: rgb(174, 48, 48);
                    margin-right: 45px;

                    &:before {
                        content: "";
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        background: rgb(179, 179, 213);
                    }
                }
                &__title {
                    color: black;
                }
            }

            .guy {
                display: inline-block;

                &_know_more {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                }
            }
        }

        .main_page{
            max-width: 800px;
            border-radius: 60px;
            background-color: #fff;
            padding: 50px;
            
            &__header{
                display: inline-block;
                background-color: blue;
            }

        .main_options{
          display: grid;
          grid-template-columns: repeat(6, 100px);
          gap:30px;

            &_item{
                background-color: #F3F3F3;
                display: block;
                // width: 100px;
                height: 150px;
                padding-top: 20px;
                border-radius: 80px;
                padding-bottom: 30px;


            }
        }
    
            }
           }
        }
    // }

