.container {
  max-width: 1800px;
  margin: 0 auto;
  margin-left: 0;

  .wrapper {
    display: flex;
    flex-direction: row;
    background-color: #deebfb;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
